.gradle
build/
example-shipping-system/target
example-shipping-system/.gradle
example-shipping-system/build
code-karta-core/target
code-karta-core/build
code-karta-input/target
code-karta-input/build
code-karta-layout/target
code-karta-layout/build
code-karta-render/target
code-karta-render/build
code-karta-cli/target
code-karta-cli/build
.idea/
.vibetags-cache
.vibetags-mod-*
vibetags.log